<%= form_for(user, as: user, url: registration_path(user), html: { class:"edit-profile", method: :put }) do |f| %>
    <% if user.errors.any? %>
        <ul>
          <% user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.text_field :name, autofocus: false, placeholder: "Username" %>
    </div>

    <div class="field">
      <%= f.select :gender,
                   options_for_select([['Male',0],['Female',1]], user.gender),
                   {}, { :class => 'form-control gender-select' } %>
    </div>

    <div class="field birthday">
      <%= f.date_select :birthday, {start_year: 1917, end_year: 2002}, {class: "form-control date-select"} %>
    </div>

    <div class="field">
      <%= f.text_field :address, autofocus: false, placeholder: "Address" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password"  %>
      <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %>
    </div>
    <a class="btn btn-labeled btn-update-profile btn-info" href="">
      <span class="btn-label"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>Save Profile
    </a>
<% end %>