<div class="container">
  <div class="row">
  </div>
  <div class="row user-menu-container square">
    <div class="col-md-12 user-details">
      <div class="row coralbg white infos">
        <div class="col-md-6 no-pad">
          <div class="user-pad">
            <h3>Welcome back, <%= @user.name %></h3>
            <h4 class="white"><i class="fa fa-check-circle-o"></i> Hedspi, HANOI UNIVERSITY </h4>
            <h4 class="white"><i class="fa fa-twitter"></i> iamadeveloper</h4>
            <div class="form-follow">
              <%= render "relationships/form_follow", user: @user %>
            </div>
          </div>
        </div>
        <div class="col-md-6 no-pad user-image">
          <div class="user-image-box">
            <%= image_tag(@user.avatar.url || "default-user.jpg", class: "img-responsive ")%>
            <% if @user == current_user %>
              <%= form_for(@user, as: @user, url: registration_path(@user), html: { method: :put, id: "form-edit-avatar" }) do |f| %>
              <div class="user-avatar-change">
                <i class="fa fa-camera" aria-hidden="true"><%= f.file_field :avatar, class: "upload" %></i>
                <p>Change your avatar</p>
              </div>
              <div class="other-info" style="visibility: hidden">
              </div>
              <% end%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row overview">
        <div class="col-md-4 user-pad text-center">
          <h3>FOLLOWERS</h3>
          <h4 class="number-followers"><%= @user.followers.count%></h4>
        </div>
        <div class="col-md-4 user-pad text-center">
          <h3>FOLLOWING</h3>
          <h4 class="number-following"><%= @user.following.count%></h4>
        </div>
        <div class="col-md-4 user-pad text-center">
          <h3>REVIEWS</h3>
          <h4><%= @user.reviews.count%></h4>
        </div>
      </div>
    </div>

  </div>
  <div class="row ">
    <div class="col-md-12 user-menu-btns">
      <div class="btn-group-vertical square" id="responsive">
        <% if (@user == current_user)%>
        <a href="#" class="btn btn-block active">
          <i class="fa fa-user fa-3x"></i>
          <div class="overlay">
            <div class="text">My Profile</div>
          </div>
        </a>
        <a href="#" class="btn btn-default">
          <i class="fa fa-users fa-3x"></i>
          <div class="overlay">
            <div class="text">List Following</div>
          </div>
        </a>
        <% end %>
        <a href="#" class="btn btn-default <%= "active" if @user != current_user%>">
          <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
          <div class="overlay">
            <div class="text">List Reviews</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 user-menu user-pad">
      <% if (@user == current_user)%>
        <div class="user-menu-content active">
        <h2 class="text-center">Edit Profile</h2>
        <%= render "users/form", user: @user%>
      </div>
        <div class="user-menu-content ">
            <h3>
              Followers List
            </h3>
            <%= render "relationships/list_following", user: current_user if current_user?(@user)%>
          </div>
      <% end %>


      <div class="user-menu-content <%= "active" if @user != current_user%>">
        <h3>
          Trending
        </h3>
        <div class="row">
          <div class="col-md-4">
            <div class="view">
              <div class="caption">
                <p>47LabsDesign</p>
                <a href="" rel="tooltip" title="Appreciate"><span class="fa fa-heart-o fa-2x"></span></a>
                <a href="" rel="tooltip" title="View"><span class="fa fa-search fa-2x"></span></a>
              </div>
              <img src="" class="img-responsive">
            </div>
            <div class="info">
              <p class="small" style="text-overflow: ellipsis">An Awesome Title</p>
              <p class="small coral text-right"><i class="fa fa-clock-o"></i><small> Posted Today | 10:42 A.M.</small></p>
            </div>
            <div class="stats turqbg">
              <span class="fa fa-heart-o"> <strong>47</strong></span>
              <span class="fa fa-eye pull-right"> <strong>137</strong></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="view">
              <div class="caption">
                <p>47LabsDesign</p>
                <a href="" rel="tooltip" title="Appreciate"><span class="fa fa-heart-o fa-2x"></span></a>
                <a href="" rel="tooltip" title="View"><span class="fa fa-search fa-2x"></span></a>
              </div>
              <img src="" class="img-responsive">
            </div>
            <div class="info">
              <p class="small" style="text-overflow: ellipsis">An Awesome Title</p>
              <p class="small coral text-right"><i class="fa fa-clock-o"></i><small> Posted Today | 10:42 A.M.</small></p>
            </div>
            <div class="stats turqbg">
              <span class="fa fa-heart-o"> <strong>47</strong></span>
              <span class="fa fa-eye pull-right"> <strong>137</strong></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="view">
              <div class="caption">
                <p>47 Love</p>
                <a href="" rel="tooltip" title="Appreciate"><span class="fa fa-heart-o fa-2x"></span></a>
                <a href="" rel="tooltip" title="View"><span class="fa fa-search fa-2x"></span></a>
              </div>
              <img src="" class="img-responsive">
            </div>
            <div class="info">
              <p class="small" style="text-overflow: ellipsis">An Awesome Title</p>
              <p class="small coral text-right"><i class="fa fa-clock-o"></i><small> Posted Today | 10:42 A.M.</small></p>
            </div>
            <div class="stats turqbg">
              <span class="fa fa-heart-o"> <strong>47</strong></span>
              <span class="fa fa-eye pull-right"> <strong>137</strong></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>