<div class="container">
  <div class="row">
    <% resource.errors.each do |key, value| %>
        <%= content_tag(:p, "#{key} #{value}", :class => "flash alert alert-danger") %>
    <% end %>
  </div>
  <div class="row">
      <div class="wrap">
        <p class="form-title">
          SignIn</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class:"login"}) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
            </div>
            <div class="field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <span class="checkbox-text">Remember Me</span>
                </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Login", class: "btn btn-login" %>
            </div>

          <%= render "devise/shared/links" %>
         <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
