<style>
  .CodeMirror-fullscreen {
    top: 80px;
  }
</style>
<div class="container edit-blog">
  <div class="row">
    <div class="col-sm-12">
      <%= form_with model: @review,url: review_path, method: :patch do |f| %>
          <br>
          <label for="regular1" class="control-label">TITLE</label>
          <div class="form-group pmd-textfield form-group-lg">
            <a>
              <%= "Updated at" %>
              <%= time_ago_in_words @review.updated_at %> <%= "ago" %>
            </a>
            <%= f.text_field :title, class: "form-control input-group-lg" %>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-8">
              <div class="input-field">
                <%= f.select(:game_id, class: "caret") do %>
                    <% Game.all.each do |game| %>
                        <%= content_tag(:option, game.name, value: game.id) %>
                    <% end %>
                <% end %>
                <label>Tag The Game you want</label>
              </div>
            </div>
            <div class="col-sm-4">
              <br>
              <button class="btn btn-primary pmd-btn-raised pull-right btn-lg btn-publish">
                <%= "Post" %>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <br><br>
              <%= f.cktext_area :content, id: :review_content, value: @review.content %>
              <%= f.text_field :status, value: 1, class: 'hidden' %>

            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
