<style>
  .CodeMirror-fullscreen {
    top: 80px;
  }
</style>
<div class="container edit-blog">
  <div class="row">
    <div class="col-sm-12">
      <%= form_with model: @review,url: review_path, method: :patch do |f| %>
          <br>
          <div class="form-group pmd-textfield form-group-lg">
            <label for="regular1" class="control-label">
              <%= "Updated at" %>
              <%= time_ago_in_words @review.updated_at %> <%= "ago" %>
            </label>
            <%= f.text_field :title, class: "form-control input-group-lg" %>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label><%= "tag game you want" %></label>
                <%= f.select :game_id, options_from_collection_for_select(Game.all, :id, :name),
                             {selected: @review.game.id},
                             {class: "tags-form form-control pmd-select2-tags", multiple: false} %>
              </div>
            </div>
            <div class="col-sm-4">
              <br>
              <button class="btn btn-primary pmd-btn-raised pull-right btn-lg btn-publish">
                <%= "Post" %>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <br><br>
              <%= f.cktext_area :content, id: :review_content, value: "" %>

            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
