<% provide :title, "Review" %>

<div class="container-fluid dashboard-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
      </div>
      <div class="col-sm-3">
        <% if user_signed_in? %>
            <%= form_with model: Review.new, url: reviews_path, local: true do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <button class="btn btn-primary pmd-btn-raised pmd-ripple-effect btn-create" type="submit">
                  <i class="fa fa-fw fa-pencil"></i>
                  <%= "Create Review" %>
                </button>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">

        </div>
      </div>
      <% if @reviews.empty? %>
          <h2 class="text-center">
            <%= "You have no review entries yet" %>
          </h2>
      <% end %>

      <% @reviews.each do |review| %>
          <div class="row blog-post">
            <div class="col-sm-1 avatar">
              <img src="<%= review.user.avatar %>" alt="" class="img-responsive">
            </div>
            <div class="col-sm-11">
              <div class="post-header">
                <h4>
                  <%= link_to review.user.email, "#" %>
                  <small><%= time_ago_in_words review.created_at %></small>
                </h4>
              </div>
              <div class="post-body">
                <%= link_to review.title, review_path(review) %>
              </div>
            </div>
            <div class="col-sm-12">
              <hr>
            </div>
          </div>
      <% end %>
      <div class="col-sm-12">
        <%= paginate @reviews, theme: "twitter-bootstrap-3" %>
      </div>
    </div>
    <div class="col-sm-3">
      <h3>Hot Author</h3>
    </div>
  </div>
</div>
