<% provide :title, @review.title %>
<div class="review-show" xmlns="http://www.w3.org/1999/html">
  <div class="container post-show">
    <div class="row">
      <div class="col-sm-10 post-header">
        <h1><%= @review.title %></h1>
        <% if @review.game.present? %>
            <div>
              <%= link_to @review.game, "data-turbolinks": false do %>
                  <div style="font-size: 20px">
                    <%= @review.game.name %>
                  </div>
              <% end %>
            </div>
        <% end %>
        <h2>
          <small>
            <i class="fa fa-fw fa-user"></i>
            <%= "Writer" %>
            <%= link_to @review.user.email, "#" %>
          </small>
          <% if user_signed_in? && current_user.id == @review.user.id %>
          <span class="pull-right">
            <%= link_to edit_review_path(@review), "data-turbolinks": false do %>
              <i class="fa fa-fw fa-pencil"></i>
                <%= "Edit" %>
            <% end %>
          </span>
          <% end %>
        </h2>
        <h2>
          <small><i class="fa fa-fw fa-clock-o"></i></small>
          <% if @review.status == false %>
              <small>
                This
              </small>
              <strong style="color: #9e9d24">Draft</strong>
          <% end %>
          <small>
            updated at <%= time_ago_in_words @review.updated_at %> ago
          </small>
        </h2>
        <hr>
        <div class="body">
          <%= markdown(@review.content).html_safe %>
          <div class="container-like">

            <% if user_signed_in? %>
                <% if !find_like(current_user.id, @review.id).first %>
                    <div id="like" class="btn-btr icon-btn btn-unlike">
                      <span id="icon" data-status="like" data-likeid="null" data-reviewid="<%= @review.id %>" data-user="<%= current_user %>" class="icon-unlike glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary-unlike"></span>
                      <a class="like-value"><%= @review.likes.count %>
                        Like</a>
                    </div>
                <% else %>
                    <div id="like" class="btn-btr icon-btn btn-like">
                      <span id="icon" data-status="unlike" data-likeid="<%= find_like(current_user.id, @review.id).first.id %>" data-reviewid="<%= @review.id %>" data-user="<%= current_user %>" class="icon-like glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary-like"></span>
                      <a class="like-value"><%= @review.likes.count %>
                        Like</a>
                    </div>
                <% end %>
            <% else %>
                <div id="like" class="btn-btr icon-btn btn-unlike">
                  <span id="icon" data-user="<%= current_user %>" class="icon-unlike glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary-unlike"></span>
                  <a class="like-value"><%= @review.likes.count %>
                    Like</a>
                </div>
            <% end %>
            <strong class="btn-btr icon-btn btn-danger"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Delete</strong>
          </div>
          <hr>
        </div>

        <% if user_signed_in? && @review.status == true %>
            <div class="row">
              <div class="col-sm-1">
                <div class="thumbnail">
                  <% if current_user.avatar.url.nil? %>
                      <img class="img-responsive user-photo" src="http://p3.pstatp.com/large/26ed000043b18dc6c0de">
                  <% else %>
                      <img class="img-responsive user-photo" src="<%= current_user.avatar.url %>">
                  <% end %>
                </div><!-- /thumbnail -->
              </div><!-- /col-sm-1 -->

              <div class="col-sm-10">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong style="font: italic bold 15px/30px Georgia, serif;"><%= current_user.name %></strong>
                  </div>
                  <div class="panel-body" style="margin: 10px 0 10px 0">
                    <%= form_for(@review_comment) do |f| %>
                        <div class="field">
                          <%= f.text_field :content %>
                          <%= f.hidden_field :review_id, :value => @review.id %>
                          <button class="btn btn-custom" type="submit">
                            <%= "Comment" %>
                          </button>
                        </div>
                    <% end %>
                  </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
              </div><!-- /col-sm-5 -->
            </div>
        <% end %>
        <ul>
          <% @review.review_comments.each do |review_comment| %>
              <div class="row custom-ul">
                <div class="col-sm-1">
                  <div class="thumbnail">
                    <% if review_comment.user.avatar.url.nil? %>
                        <img class="img-responsive user-photo" src="http://p3.pstatp.com/large/26ed000043b18dc6c0de">
                    <% else %>
                        <img class="img-responsive user-photo" src="<%= review_comment.user.avatar.url %>">
                    <% end %>
                  </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col-sm-10">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <strong style="font: italic bold 15px/30px Georgia, serif;"><%= review_comment.user.name %></strong>
                      <span class="text-muted">commented <%= time_ago_in_words review_comment.created_at %>
                        ago</span>
                      <% if user_signed_in? && current_user.id == review_comment.user.id %>
                          <i class="edit-comment fa fa-edit" style="margin-left: 20px" data-commentid="<%= review_comment.id %>"></i>
                          <%= link_to review_comment_path(review_comment), data: {confirm: "Are you sure?"},
                                      method: :delete do %>
                              <i class="delete-comment fa fa-trash"></i>
                          <% end %>
                      <% end %>
                    </div>
                    <div class="panel-body" style="margin: 10px 0 10px 0">
                      <%= review_comment.content %>
                    </div><!-- /panel-body -->

                    <!--Edit comment-->
                    <div class="edit-comment-content field" style="display: none">
                      <input type="hidden" name="review-id" value="<%= @review.id %>">
                      <input name="comment" class="edit-text"></input>
                      <button class="btn btn-custom btn-edit-comment" type="submit">
                        <%= "Edit" %>
                      </button>
                    </div>
                  </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
              </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

